body{
    background-color: #542e71;
    font-family: "Nunito", sans-serif;
}

#mainNav {
    background-color:#7fefbd;
    font-family: "Nunito", sans-serif;
    
}

#mainNav .navbar-brand{
    color: #d7b8f3;
    font-weight: bold;
}

#mainNav .navbar-brand:hover{
    color: #7fefbd;
    
}
 #mainNav .nav-link {
    color: #d7b8f3;
} 

#mainNav .nav-link:hover {
    color: #7fefbd;
} 

button .navbar-toggler{
    color: #d7b8f3;
}

.portfolio-card{
    background-color: #d7b8f3;
    border-radius: 5%;
}

.portfolio-card:hover{
    background-color: #7fefbd;
    box-shadow: 10px 10px 5px;
}
.portfolio-screenshot{
    max-width: 400px;
    min-height: 272px;
}

.portfolio-title{
    font-weight: bold;
}

.about{
    color: #542e71;
}

.about-pic{
    border-radius: 50%;
    min-width: 250px;
    max-height: 250px;

}